[submodule "submodules/mathematics"]
	path = submodules/mathematics
	url = https://github.com/technologists-team/hypercube-mathematics.git
[submodule "submodules/utilities"]
	path = submodules/utilities
	url = https://github.com/technologists-team/hypercube-utilities.git
[submodule "submodules/modloader"]
	path = submodules/modloader
	url = https://github.com/technologists-team/hypercube-modloader.git
